button.no-button, .button.no-button {
	border: none;
	background: transparent;
	transition: color .3s ease-in-out;
	outline: none;
	&:hover {
		color: $primary-color;
	}
}

button, .button {
	&.button-bottom {
		position: fixed;
		right: 0;
		bottom: 0;
		font-size: 18px;
		padding: 0 60px;
		line-height: 40px;
	}
}