<div class="posting-area">
    <div class="fluid-row">
        <form ng-submit="main.submitPost()">
            <div class="small-12 columns collapsed">
                <input type="text" ng-model="main.post.subject" placeholder="Subject"/>
                <textarea placeholder="Write your body text here" ng-model="main.post.body_text" rows="10"></textarea>
                <input class="button button-bottom" type="submit" value="Add post"/>
            </div>
            <div class="small-12 columns preview-area">
                <h1>{{main.post.subject}}</h1>
                <p>{{main.post.body_text}}</p>
            </div>
        </form>
    </div>
</div>