<div class="posting-area">
    <div class="fluid-row">
        <div class="small-12 columns collapsed">
            <input type="text" ng-model="subject" placeholder="Subject"/>
            <div class="fluid-row">

            </div>
            <textarea placeholder="Write your body text here" ng-model="body_text" rows="10"></textarea>
        </div>
        <div class="small-12 columns preview-area">
            <h1>{{subject}}</h1>
            <p>{{body_text}}</p>
        </div>
    </div>
</div>